.container
  .jumbotron
    - @companies.each do |company|
      %h1.display-4= company.name
      %hr.my-4
        = company.company_email
        %br
        = company.p_number
        %br
        = company.address
        %br
        = link_to 'Company', for_company_company_path(company)
        %hr
        .btn.btn-primary.btn-lg{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
          Your Hotels
        #collapseExample.collapse
          - company.hotels.each_slice(2) do |slice_hotel|
            .row
              - slice_hotel.each do |hotel|
                .card.w-50
                  %img.card-img-top
                    - if hotel.images.any?
                      = image_tag hotel.images.first.service_url
                  .card-body
                    %h5.card-title= hotel.name
                    %p.card-text
                    Country:
                    = hotel.country.name
                    %hr City:
                    = hotel.city.name
                    %hr Stars:
                    = hotel.stars
                    %hr
                    = link_to 'View', for_company_hotel_path(hotel), class: 'btn btn-primary'
