.container
  %h1 Create Room

  = simple_form_for [:for_company, @room] do |f|
    = f.input :name
    = f.input :price
    = f.input :description, label: 'Description'
    = f.input :hotel_id, collection: current_user.hotels, label_method: :display_name, include_blank: false
    = f.input :number_of_guests, label: 'Is suitable for ?(number of guestes)'
    = f.input :images, as: :file, input_html: { multiple: true }, direct_upload: true
    = f.submit
