%h1= "This is #{@room.name} page"
%hr
= link_to 'To companies page', for_company_companies_path
%hr
= @room.name
%hr
= @room.description
%hr
= @room.price
= @room.hotel.name
%hr
%h4 Pictures:

- @room.images.each do |image|
  = image_tag image
