%h1 this is index page
- @rooms.each do |room|
  %hr
  = link_to room.name, hotel_room_path(room.hotel, room), class: 'btn btn-primary'
  = room.price
  %br
  = room.description
  %br
  = room.available_from
  %br
  = room.available_to
