.container
  %h1= "This is #{@room.name} for room show"

  = @room.name
  %hr
  = "price is :#{@room.price}"
  %hr
  = @room.description
  %hr
  = @room.available_from
  %hr

  = simple_form_for [@room, @reservation], remote: true do |f|
    .d-flex
      .p-2
        %i.fa.fa-calendar.btn.btn-outline-info
      .p-2
        = f.input :reservation_from, as: :string, label: false, placeholder: 'Check-in', readonly: true
      .p-2
        = f.input :reservation_to, as: :string, label: false, placeholder: 'Check-out', readonly: true
      .p-2.w-50
        = f.input :card_holder_name, label: false, placeholder: 'Card holder name'
    .row
      .col-lg-9
        = f.input :address
      .col-lg-3
        = f.input :city
    - if user_signed_in?
      = f.hidden_field :card_owner_email, value: current_user.email
    - else
      = f.input :card_owner_email, label: 'Please pass email for confirmation'
    .form-group
      %label{:for => "card-element"}
        Credit or debit card
      #card-element
      #card-errors{role: 'alert'}
        / A Stripe Element will be inserted here.

    = f.button :submit, class: 'btn btn-primary'
