%h1 this is index page for hotel

= form_tag [:hotels], method: 'get' do
  = select_tag :stars, options_for_select(1..5)
  = text_field_tag :city_name, nil, placeholder: 'City name'
  = text_field_tag :hotel_name, nil, placeholder: 'Hotel name'
  = submit_tag 'Save'

= link_to 'Reset', hotels_path

- @hotels.each do |hotel|
  %hr
  = link_to hotel.name, hotel_path(hotel), class: 'btn btn-primary'
  = "#{hotel.stars} stars, "

  = "#{hotel.city.name} <--- here is hotel}"
  = "My name is: #{hotel.name}"
  - if hotel.rooms.any?
    %h5.text-center Rooms:
    .slick-slider
      - hotel.rooms.each do |room|
        - if room.images.any?
          .container
            .room-picture.ml-5{style: "background-image: url('" + room.images.first.service_url + "');"}
            = link_to room.name, hotel_room_path(hotel, room), class: 'text-center'
:javascript
  if(window.opener) {
    window.opener.location.reload(true);
    window.close()
  }
