!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title HotelApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://js.stripe.com/v3/' }
  %bsody
    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, method: :delete
      = link_to 'Create Company', new_for_company_company_path
      - if current_user.has_company
        = link_to 'Your Company', for_company_companies_path
    - else
      = link_to 'Login',  new_user_session_path
      = link_to 'Create an account', new_user_registration_path


    %p.notice= notice
    %p.alert= alert
    = yield
