!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title HotelApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://js.stripe.com/v3/' }
  %body
    %nav.navbar.navbar-expand-lg.navbar.navbar-dark.bg-info
      .container.d-flex
        = link_to 'Navbar', root_path, class: 'navbar-logo p-2'
        .ml-auto.p-2
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link'
          - else
            = link_to 'Login',  new_user_session_path, class: 'navbar-link'
            = link_to 'Create an account', new_user_registration_path, class: 'navbar-link'
        %ul.navbar-nav
          - if user_signed_in?
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Properties
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                - if current_user.has_company
                  .dropdown-item= link_to 'Your Company', for_company_companies_path, class: 'navbar-dropdown-option'
                  .dropdown-item= link_to 'Create Hotel', new_for_company_hotel_path, class: 'navbar-dropdown-option'
                  %a.dropdown-item{:href => "#"} Messages
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Profile
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} Reservations
                %a.dropdown-item{:href => "#"} History
                %a.dropdown-item{:href => "#"} Profile
                %a.dropdown-item{:href => "#"} Messages
                .dropdown-divider
                - if current_user.has_company
                  .dropdown-item= link_to 'Your Company', for_company_companies_path, class: 'navbar-dropdown-option'
                - else
                  .dropdown-item= link_to 'Create Company', new_for_company_company_path, class: 'navbar-dropdown-option'
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
