!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HotelApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'for_company', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'for_company', 'data-turbolinks-track': 'reload'
  %body
    %h1 This is section for company
    = link_to 'Logout', destroy_user_session_path, method: :delete
    %p.notice= notice
    %p.alert= alert
    = yield
