!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HotelApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'for_company', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'for_company', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar.navbar-dark.bg-light
      .container.d-flex
        = link_to 'Back to main page', root_path, class: 'btn btn-outline-dark p-2'
        .p-2 Section for company
        .ml-auto.p-2
          .dropdown
            %button#dropdownMenuButton.btn.btn-outline-success.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Create
            .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
              .dropdown-item= link_to 'Add new company', new_for_company_company_path, class: 'list-group-item-action'
              .dropdown-item= link_to 'Add Hotel', new_for_company_hotel_path, class: 'list-group-item-action'
              .dropdown-item= link_to 'Add Room', new_for_company_room_path, class: 'list-group-item-action'
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger'
    %p.notice= notice
    %p.alert= alert
    = yield
